@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&family=Righteous&display=swap");
.titleFont {
  font-family: 'Righteous', cursive; }

.coolHover {
  position: relative; }
  .coolHover::before, .coolHover::after {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -5px;
    height: 2px;
    margin: 5px 0 0;
    transition: left , right , width, opacity, color;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    opacity: 0;
    background: #48cbff; }
  .coolHover::before {
    left: 50%; }
  .coolHover::after {
    right: 50%; }
  .coolHover:hover {
    color: #48cbff; }
    .coolHover:hover::before {
      left: 0%;
      width: 50%;
      opacity: 1; }
    .coolHover:hover::after {
      right: 0%;
      width: 50%;
      opacity: 1; }

.m-auto {
  display: block;
  margin: auto; }

body {
  background-color: #222222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #999999;
  font-family: 'Noto Sans JP', cursive; }

#sideMenu {
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  border-right: solid 2px #aee8ff; }
  #sideMenu #initials {
    color: #aee8ff;
    text-align: center;
    padding: 8px; }
    #sideMenu #initials a {
      display: inline-block;
      padding: 8px;
      font-size: 4rem;
      color: #aee8ff;
      text-decoration: none;
      transition: color 200ms; }
      #sideMenu #initials a:hover {
        color: #48cbff; }
  #sideMenu hr {
    margin: 8px 0;
    border-color: #aee8ff; }
  #sideMenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center; }
    #sideMenu ul li {
      padding: 8px; }
    #sideMenu ul a {
      color: #aee8ff;
      text-decoration: none;
      transition: color 200ms;
      position: relative; }
      #sideMenu ul a:hover {
        color: #48cbff; }
  #sideMenu #socialMediaList {
    display: inline-block; }
    #sideMenu #socialMediaList li {
      display: inline-block;
      font-size: 1.5rem; }

main {
  width: calc(100% - 200px);
  display: block;
  transform: translateX(200px);
  overflow: hidden; }

header {
  background-image: url(/img/headerbg.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  overflow: hidden;
  position: relative;
  animation-name: MOVE-BG;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  header #titleHolder {
    text-align: center;
    background: #222222;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding: 8px;
    margin: auto;
    width: auto;
    border-radius: 8px;
    color: #aee8ff;
    transform: translate(-50%, -50%); }
    header #titleHolder h1, header #titleHolder h3 {
      margin: 0; }

@keyframes MOVE-BG {
  0% {
    background-position: 0%; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0%; } }

.mainPageHeader {
  height: 100vh; }

#projects {
  display: flex;
  flex-wrap: wrap;
  margin: 8px; }
  #projects article {
    flex: 1;
    min-width: 25%;
    margin: 8px;
    height: 400px;
    background: red; }

#contact {
  margin: 16px;
  display: flex; }
  #contact h4, #contact h5, #contact p {
    margin: 0; }
  #contact p {
    margin: 8px 0; }
  #contact #contactDetails {
    width: 250px;
    color: #95e1ff; }
    #contact #contactDetails h4 {
      font-size: 1.3rem; }
    #contact #contactDetails a {
      color: #c8efff;
      text-decoration: none;
      font-size: 1.2rem;
      transition: color 200ms; }
      #contact #contactDetails a:hover {
        color: #95e1ff; }
  #contact #contactForm {
    flex: 1; }
    #contact #contactForm fieldset {
      border: none;
      display: flex;
      margin-right: 8px;
      padding: 16px;
      padding-top: 0;
      padding-bottom: 8px; }
    #contact #contactForm div {
      flex: 1;
      position: relative; }
    #contact #contactForm input, #contact #contactForm textarea {
      padding: 8px;
      width: 100%;
      transition: border 300ms;
      background: #333333;
      outline: none;
      border: rgba(0, 0, 0, 0) 2px solid;
      border-radius: 8px;
      color: #e2e1e1; }
      #contact #contactForm input:focus, #contact #contactForm textarea:focus {
        border: #7bdaff 2px solid;
        outline: none; }
    #contact #contactForm textarea {
      height: 4rem; }
    #contact #contactForm .ml {
      margin-left: 16px; }
    #contact #contactForm .mr {
      margin-right: 16px; }
    #contact #contactForm .required {
      color: #fd4f4f; }
    #contact #contactForm .errored {
      border-color: #fd4f4f; }
    #contact #contactForm #submitButton {
      padding: 8px 24px;
      margin-left: 16px;
      background: none;
      width: auto;
      border: #aee8ff 2px solid;
      font-size: 1.5rem;
      transition: color 200ms,background-color 200ms; }
      #contact #contactForm #submitButton:hover {
        color: #222222;
        background: #aee8ff;
        cursor: pointer; }
