.titleFont{
    font-family: 'Righteous', cursive;
}

.coolHover{
    position: relative;
    &::before,&::after{
        content: "";
        position: absolute;
        width: 0%;
        bottom: -2px;
        height: 2px;
        margin: 5px 0 0;
        transition: left , right , width, opacity, color ;
        transition-timing-function: ease-in-out;
        transition-duration: 200ms;
        opacity: 0;
        background: darken($accentColor,20);
    }
    &::before{
        left: 50%;
    }
    &::after{
        right:50%;
    }


    &:hover{
        color: darken($accentColor,20);
        
        &::before{
            left: 0%;
            width: 50%;
            opacity: 1;
        }
        &::after{
            right:0%;
            width: 50%;
            opacity: 1;
        }
    }
}

.m-auto{
    display: block;
    margin: auto;
}

.addPadding{
    padding: $padding;
}