$baseBackground : #222222;
$sideMenuBackground : #333333;

$accentColor : #aee8ff;

$sideMenuWidth : 200px;

$textBase : #c5c5c5;

$padding: 8px;

$largeMax : 1250px;
$medMax : 1000px;
$smallMax : 750px;