#examples{
    padding: $padding * 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    article{
        display: block;
        flex: 1;
        background: $sideMenuBackground;
        margin: $padding * 2;
        min-width: 25%;
        max-width: 50%;
        @media screen and (max-width: $largeMax){
            min-width: 40%;
            max-width: 100%;
        }

        @media screen and (max-width: $smallMax){
            min-width: 60%;
        }

        border-radius: $padding;
        border: 2px solid $accentColor;
        box-shadow: 1px 1px 5px 1px $accentColor;
        overflow: hidden;
        transition: transform 200ms;
        pre{
            margin-top: 0;
            height: 400px;
            overflow: auto;
        }

        h3 {
            margin: 0;
            margin-left: $padding;
        }

        button {
            margin: $padding 0 $padding $padding;
            background: rgba(0, 0, 0, 0);
            border: none;
            outline: none;
            padding: $padding;
            border-radius: $padding;
            border: solid 2px $accentColor;
            color: $textBase;
            transition: background-color 200ms, color 200ms;
            &:hover{
                cursor: pointer;
            }
        }

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            z-index: 10000000000;
            button {
                background: $accentColor;
                color: $sideMenuBackground;
            }
        }
    }

}

#projectModal{
    pre{
        max-height: 50vh;
    }
}