header{
    background-image: url(/img/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: -1;
    min-height: 20vh;
    border-bottom: 2px solid $accentColor;

    animation-name: MOVE-BG;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    #titleHolder{
        text-align: center;
        background: $baseBackground;
        position: absolute;
        top:50%;
        left:50%;
        display: inline-block;
        padding: $padding;
        margin: auto;
        width: auto;
        border-radius: $padding;
        color: $accentColor;
        h1,h3{
            margin: 0;
        }
        transform: translate(-50%,-50%);
    }
}

@keyframes MOVE-BG {
   0% {
     background-position: 0%;
   }
   50% { 
     background-position: 100%;
   }
   100% {
     background-position: 0%;
   }
}

.mainPageHeader{
    height: 100vh;
}