#sideMenu{
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    width: $sideMenuWidth;
    background-color: $sideMenuBackground;
    display: flex;
    flex-direction: column;
    border-right: solid 2px $accentColor;
    overflow-x: visible;

    #initials{
        color: $accentColor;
        text-align: center;
        padding: $padding;
        a{
            display: inline-block;
            padding: $padding;
            font-size: 4rem;
            color: $accentColor;
            text-decoration: none;
            transition: color 200ms;
            &:hover{
                color: darken($accentColor,20);
            }
        }
    }
    hr{
        margin: $padding 0;
        border-color: $accentColor;
    }

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        text-align: center;
    
        li{
            padding: $padding;
        }
        a{
            color: $accentColor;
            text-decoration: none;
            transition: color 200ms;
            position: relative;
            &:hover{
                color: darken($accentColor,20);
            }
        }
    }

    #socialMediaList{
        display: inline-block;
        li{
            display: inline-block;
            font-size: 1.5rem;
        }
    }
    #sideMenuToggle{
        display: none;
    }
    @media screen and (max-width : $medMax) {
        left: - $sideMenuWidth;
        transition: left 200ms;
        #sideMenuToggle{
            display: block;
            position: absolute;
            top: 0px;
            right: -50px;
            width: 50px;
            height: 50px;
            z-index: 1000;
            background: $sideMenuBackground;
            border: $accentColor solid 2px;
            border-top: none;
            border-left: none;
            font-size: 2rem;
            color: $accentColor;
            .stage1{display: inline;} .stage2{display: none;} .stage3{display: none;}
            &:hover{
                cursor: pointer;
                .stage1{display: none;} .stage2{display: none;} .stage3{display: inline;}
            }
        } 
    }

    @media screen and (max-height: $hMedMax){
        hr {
            margin: -1px 0 !important;
        }
    }

    @media screen and (max-height: $hSmallMax){

        hr:first-of-type{
            display: none;
        }

         #initials{
             display: none;
         }
         
         ul {
             margin: $padding / 2;
         }
    }
}

.sideExpanded{
    @media screen and (max-width : $medMax) {
        left: 0 !important;
        #sideMenuToggle{
            .stage1{display: none !important;} .stage2{display: inline !important;} .stage3{display: none !important;}
        }
    }
    
}